* {
  padding: 0px;
  margin: 0px;
  line-height: 34px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
}

.head {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.78);
  flex-direction: column;
  color: aliceblue;
  padding: 8px;
}
.head h1,
p {
  font-size: 24px;
  margin-top: 14px;
}
.head__nav ul {
  display: flex;
  margin-top: 12px;
  margin-bottom: 18px;
  list-style-type: none;
}
.head__nav ul li > a {
  color: pink;
  margin-right: 18px;
  text-decoration: none;
}

/* Section */

section {
  width: 100%;
  background-color: lightgray;
  height: 400px;
  border-bottom: 1px solid gray;
}

/* Animation */
.name {
  position: absolute;
  align-content: center;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #667799;
  color: #fff;
  font-size: 22px;
  border: 4px solid #008899;
  padding: 12px;
  right: 24px;
}

.name {
  animation: pointdown 1000ms infinite alternate-reverse;
}

@keyframes pointdown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Footer area */
.foot {
  display: flex;
  background: rgba(0, 0, 0, 0.78);
  flex-direction: column;
  color: aliceblue;
  padding: 8px;
}

.footer__nav ul {
  display: flex;
  margin-top: 12px;
  margin-bottom: 18px;
  list-style-type: none;
}
.footer__nav ul li > a {
  color: pink;
  margin-right: 18px;
  text-decoration: none;
}
